body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 2px solid #db0d97; 
}

.menu {
  align: right;
  max-width: 1000px;
  margin: auto;
  border: 2px solid #550ddb; 
}

.img {
  align: left;
  max-width: 200px;
  margin: auto;
  border: 2px solid #db0d97; 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 2px solid #db0d97; 
}

.logo {
  max-width: 100px;
}

.effect {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #134714;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


nav ul {
  list-style: none;
  padding: 20;
  font-weight: bold;
  color: #134714;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 20;
  margin-left: 1000; 
}

nav ul li {
  display: inline;
  font-size: 30px;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4CAF50;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
}
